{% extends "usep_templates/base.html" %}

{% load vocab %}

{% block head_title %}US Epigraphy — {{ collection_title }} Collection{% endblock head_title %}

{% block head_media_href %}href="{{ STATIC_URL }}usep/css/style.css"{% endblock head_media_href %}

{% block page_title %}Inscriptions from &nbsp; <span class="id_string">{{ collection_title }}</span>{% endblock page_title %}

{% block content %}
<script>
    $(document).ready(function(){
//        $("#description > p").css('height', 'auto');
    var fullHeight =  $("#description > p").height();
        $("#description > p").addClass('hide');
    if (fullHeight < 200) {
    $("button").hide();
        $("#description > p").removeClass('hide');
    }
   // $("#description > p").height(reducedHeight);

        $("button").click(function(){
            if( $("#description > p").hasClass('hide')) {
                $("#description > p").animate({height:fullHeight},200).removeClass('hide');
                //$("#description > p").removeClass('hide');
            } else {
                //$("#description > p").addClass('hide');
                $("#description > p").animate({height:50},200).addClass('hide');
            }

            //reducedHeight = $("#description > p").height();
//            $("#description > p").css('height', 'auto');
            //fullHeight =  $("#description > p").height();
           // $("#description > p").animate({height: fullHeight}, 500).toggle();
          // $("#description > p").slideToggle(500);
            $("button").text(function(i, text){
                return text === "Expand" ? "Close" : "Expand";
            })
        });
    });
</script>
  <div id="main">
      <div class="Ncontainer">
      <div class="intro">
          <h2>Collection Information</h2>
          <hr>
    <div id="description">
        <p>{% autoescape off %}{{ flat_collection.collection_description }} {% endautoescape %}</p>
          <button>Expand</button>
    </div>
          </div>
          </div>
    <div id="Ncontainer">
      <p>( Total: {{ inscription_count }} ) Jump to: {% for k,v in display.iteritems %}<a href="#{{ k }}">{{ v }}</a>{% if not forloop.last %} | {% endif %}{% endfor %}</p>
      {% for keylang,language_group in inscriptions.iteritems %}
      <h2 id="{{ keylang }}">{{ language_group.display }}</h2>
      <div class="collection">
        {% for result in language_group.docs %}
        <div class="item right-caption">
             <h3>  <a href="{{ result.url }}">{{ result.id }} </a></h3>
            <hr>
          {% if result.image_url %}
            <img class="thumb" src="{{ result.image_url }}" alt="inscription_thumbnail" width="80" height="80"></img>
            {% else %}
            <img class="thumb" src="{{ STATIC_URL }}usep/images/NoImageAvailable.jpg" alt="inscription_thumbnail" width="80" height="80"></img>
            {% endif %}
        <div class="caption">
               <p>
            <span class="status">({{ result.status }})</span>
            {% if result.text_genre_desc %}
         
                <br/><span class="desc">{{result.text_genre_desc.0}}</span> 
            {% endif %}
            {% if show_dates %}
            <br/><span class="date">(Between {{result.notBefore|era}} and {{result.notAfter|era}})</span>
                </p>
            {% endif %}
        </div>
        </div>
        {% endfor %}
       </div>
      {% endfor %}
   
  </div>
{% endblock content %}
