{% extends "usep_templates/base.html" %}

{% load vocab %}

{% block head_title %}US Epigraphy — {{ collection_title }} Collection{% endblock head_title %}

{% block head_media_href %}href="{{ STATIC_URL }}usep/css/style.css"{% endblock head_media_href %}

{% block page_title %}Inscriptions from &nbsp; <span class="id_string">{{ collection_title }}</span>{% endblock page_title %}

{% block content %}
<script>
    $(document).ready(function(){
//        $("#description > p").css('height', 'auto');
    var fullHeight =  $("#description > p").height();
        $("#description > p").addClass('hide');
    if (fullHeight < 200) {
    $("button").hide();
        $("#description > p").removeClass('hide');
    }
   // $("#description > p").height(reducedHeight);

        $("button").click(function(){
            if( $("#description > p").hasClass('hide')) {
                $("#description > p").animate({height:fullHeight},200).removeClass('hide');
                //$("#description > p").removeClass('hide');
            } else {
                //$("#description > p").addClass('hide');
                $("#description > p").animate({height:50},200).addClass('hide');
            }

            //reducedHeight = $("#description > p").height();
//            $("#description > p").css('height', 'auto');
            //fullHeight =  $("#description > p").height();
           // $("#description > p").animate({height: fullHeight}, 500).toggle();
          // $("#description > p").slideToggle(500);
            $("button").text(function(i, text){
                return text === "Expand" ? "Close" : "Expand";
            });
        });
    });
</script>
  <div id="main">
      <div class="Ncontainer">
      <div class="intro">
          <h2>Collection Information</h2>
          <hr>
    <div id="description">
        <p>{% autoescape off %}{{ flat_collection.collection_description }} {% endautoescape %}</p>
          <button>Expand</button>
    </div>
          </div>
          </div>
    <div id="Ncontainer">
      <p>( Total: {{ inscription_count }} ) Jump to: {% for k,v in display.iteritems %}<a href="#{{ k }}">{{ v }}</a>{% if not forloop.last %} | {% endif %}{% endfor %}</p>
      {% for keylang,language_group in inscriptions.iteritems %}
      <h2 id="{{ keylang }}">{{ language_group.display }}</h2>
      <div class="collection">
        {% for result in language_group.docs %}
        {% include "usep_templates/inscription_result.html" %}
        {% endfor %}
       </div>
      {% endfor %}
   
  </div>
{% endblock content %}
