{% extends "usep_templates/base.html" %}
{% load staticfiles %}

{% load vocab %}

{% block head_title %}US Epigraphy — publication: {{ publication_title }}{% endblock head_title %}

<!-- {# {% block head_media_href %}href="{{ STATIC_URL }}usep/css/style.css"{% endblock head_media_href %} #} -->
{% block head_media_href %}href="{% static 'usep/css/style.css'%}"{% endblock head_media_href %}

{% block page_title %}Inscriptions published in: <br />{{ publication_title }}{% endblock page_title %}

{% block content %}
  <div id="main">
    <div id="container">
      <p>( count: {{ inscription_count }} )</p>
      <ul class="collection">
        {% for member in inscriptions %}
        <li>
            {% if member.image_url %}
            <img class="thumb" src="{{ member.image_url }}" alt="inscription_thumbnail" width="40" height="40"></img>
            {% else %}
            <!-- {# <img class="thumb" src="{{ STATIC_URL }}usep/images/NoImageAvailable.jpg" alt="inscription_thumbnail" width="40" height="40"></img> #} -->
            <img class="thumb" href="{% static 'usep/images/NoImageAvailable.jpg'%}" alt="inscription_thumbnail" width="40" height="40"></img>
            {% endif %}
            <a href="{{ member.url }}">{{ member.id }} </a>
            <span class="status">({{ member.status }})</span>
            {% if member.text_genre_desc %}
            <br/><span class="desc">{{member.text_genre_desc.0}}</span>
            {% endif %}
            {% if show_dates %}
            <br/><span class="date">(Between {{member.notBefore|era}} and {{member.notAfter|era}})</span>
            {% endif %}
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endblock content %}
